*{
    margin:0;
    padding:0;
}
.wrapper{
    width: 100vw;
    height: 100vh;
}
.fundoServices{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

.contentServices{
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cardServices{
    position: relative;
    background-color: rgba(165, 42, 42, 0.699);
    color: white;
    padding: 10px;
    width: 18vw;
    height: 40vh;
    font-size: 8pt;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s;
}
.cardServices:hover{
    background-color: white;
    color: black;
    transition: all 0.5s;

}

