
.partners{
    background-image: url('../images/fundoPartners.png');
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partnersLine1{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.partnersLine2{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cardPartners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 16vh;
    background-color: white;
    color: BLACK;
    text-align: justify;
    padding: 20px;
    box-shadow: 1px 1px 10px 1px black;
}