*{
    margin:0;
    padding:0;
}
.wrapper{
    width: 100vw;
    height: 100vh;
}
.fundoHome{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

.contentAbout{
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cardAbout{
    position: relative;
    width: 50vw;
    height: 40vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 10pt;
    font-family: Century Gothic;
    color: white;
    text-align: center;
    transition: all 0.5s;
    border-radius: 0px 40px 40px 0px;
}
.cardAbout:hover{
    transition: all 0.5s;
    background-color: white;
    color: black;

}
.description{
    text-align: justify;
    width: 30vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotoAdv{
    border-radius: 10px;
}