.fundoAbout{
    margin: 0;
    padding: 0;
    border-radius: 0;
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}
.wrapperAbout{
    position: relative;
    z-index: 1;

}
.areaTitleAbout{
    width: 100vw;
    height: 20vh;
    background-color:rgb(165, 42, 42);
    color: white;
    font-family: Felix Titling;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuAbout{
    width: 100vw;
    height: 1vh;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 20px 1px BROWN;

}
.btnAbout{
    width: 10vw;
    height: 5vh;
    background-color: white;
    color: brown;
    font-size: 15pt;
    border: solid;
    border-color: brown;
    border-width: 2px;
    font-family: Felix Titling;
    box-shadow: 0px 0px 20px 1px black;

}
.btnAbout:hover{
    background-color: brown;
    border-color: WHITE;
    color: WHITE;


}
.contentAbout{
    width: 100vw;
    height: 74vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cardAbout{
    transition: all 0.2s;
    background-color: rgb(255, 255, 255);
    color: brown;
    width: 40vw;
    height: 50vh;
    border-radius: 15px;
    text-align: justify;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 1px black;
    font-size: 20px;
    margin-right: 55px;

}

.footerAbout{
    width: 100vw;
    height: 5vh;
    background-color:WHITE;
    color: BROWN;
    font-family: Felix Titling;
    box-shadow: 0px 0px 20px 1px BROWN;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}